
.profile-page-short-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 450px;
}

.profile-page-short-info img {
	width: 200px;
	height: 200px;
}

.profile-page-username {
	margin-top: 10px;
	font-size: 34px;
}

.profile-page-about, .profile-page-rating {
	margin-top: 7px;
	font-size: 22px;
}

.profile-page-rating {
	margin-bottom: 5px;
}

.profile-page-short-info, .profile-page-full-info, .profile-page-interests, .profile-page-social-info, .profile-page-liked-posts, .profile-page-friend-list {
	background-color: #eee;
	border-radius: 15px;
}


.profile-page-full-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 450px;
}

.profile-page-interests {
	margin-top: 25px;
	width: 900px;
	height: 200px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.profile-page-interests-div {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile-page-interest-tag {
	margin-left: 30px;
	margin-right: 30px;
	width: 165px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #87CEEB;
	border-radius: 15px;
	font-size: 22px;
}

.profile-page-profile-right-container {
	margin-left: 20px !important;
}

.profile-page-social-info {
	margin-top: 20px !important;
	width: 400px;
	height: 350px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.profile-page-social-info h2 {
	margin-bottom: 15px;
}


.profile-page-full-info-description, .social-info {
	width: 100%;
}

.profile-page-full-info-row {
	border-bottom: 0.5px solid darkgrey;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.profile-page-full-info-row h3, .social-row h3 {
	font-size: 21px;
}

.profile-page-social-row {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 0.5px solid darkgrey;
	justify-content: space-between;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.profile-page-liked-posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    text-align: center;
}

.profile-page-liked-posts-container {
    margin-top: 30px;
}

.profile-page-post {
    border-bottom: 1px solid darkgrey;
	margin-left: 20px !important;
	margin-right: 20px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.profile-page-friend-list {
	width: 600px;
    height: 650px;
    margin-top: 30px;
}

.profile-page-friend-list-menu {
    padding-top: 30px !important;
    margin-left: 40px !important;
	margin-right: 40px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-page-friend-list-container {
    margin-top: 20px;
}

.profile-page-friend {
    margin-bottom: 10px;
    margin-left: 30px !important;
	margin-right: 30px !important;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-page-friend a img {
    width: 80px;
    height: 80px;
}

.text-secondary {
	font-size: 20px;
}
