/*body {
	background-color: #e2e8f0 !important;
	font-family: 'Segoe UI' sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    z-index: 9999;
    position: relative;
}*/



.full-info {
	background-color: #eee;
	border-radius: 15px;
}


.full-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 850px;
}

.full-info-row, .full-info-row-description {
	border-bottom: 0.5px solid darkgrey;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.full-info-row {
    height: 80px;
}

.full-info-row-description {
    height: 200px;
}

.full-info-row h3, .social-row h3, .full-info-row-description h3 {
	font-size: 21px;
}