* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

h1 {
	color: #27aedb;
	text-align: center;
}