
.post-page-full-info {
	background-color: #eee;
	border-radius: 15px;
}


.post-page-full-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 850px;
}

.post-page-full-info-row, .post-page-full-info-row-description {
	border-bottom: 0.5px solid darkgrey;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.post-page-full-info-row {
    height: 80px;
}

.post-page-full-info-row-description {
    height: 200px;
}

.post-page-full-info-row h3, .social-row h3, .post-page-full-info-row-description h3 {
	font-size: 21px;
}