.post-involved-users {
    text-align: center;
}

.involved-users-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.involved-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.involved-user img {
    width: 200px;
    height: 225px;
}

.involved-user span {
    font-size: 24px;
    margin-top: 10px;
}